In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('tmp.csv',sep = ',')

In [3]:
# checking the shape of the data(row, column)
train_data.shape

(2671, 9)

In [4]:
# checking the head of the data

train_data.head()

,file_name,width,height,depth,object_name,xmin,ymin,xmax,ymax
0,200801095.jpg,800,600,3,plastic_bag,22.0,422.0,210.0,550.0
1,200801097.jpg,800,600,3,plastic_bag,177.0,112.0,409.0,600.0
2,200801099.jpg,320,240,3,bucket,209.0,170.0,320.0,238.0
3,20080110.jpg,320,240,3,box,164.0,140.0,291.0,223.0
4,20080124.jpg,800,600,3,styrofoam,438.0,1.0,800.0,423.0

In [5]:
objkey = train_data['object_name'].value_counts().keys().tolist()
print(objkey)

['bucket', 'bowl', 'plastic_bag', 'tire', 'box', 'bottle', 'styrofoam', 'plate', 'water_tower', 'tub', 'toilet', 'aquarium', 'washing_machine']

In [6]:
transformation_obj = {
    "aquarium":1,"bottle":2,"bowl":3,"box":4,"bucket":5,
    "plastic_bag":6,"plate":7,"styrofoam":8,"tire":9,
    "toilet":10,"tub":11,"washing_machine":12,"water_tower":13,
}
train_data['object_name'] = train_data['object_name'].map(transformation_obj)

In [7]:
#checking the NA values
train_data.isna().sum()

file_name       0
width           0
height          0
depth           0
object_name    11
xmin           11
ymin           11
xmax           11
ymax           11
dtype: int64

In [8]:
#checking the Null values in the dataset
train_data.isnull().sum()

file_name       0
width           0
height          0
depth           0
object_name    11
xmin           11
ymin           11
xmax           11
ymax           11
dtype: int64

In [9]:
# checking the head of the data after changing 'object_name' 

train_data.head()

,file_name,width,height,depth,object_name,xmin,ymin,xmax,ymax
0,200801095.jpg,800,600,3,6.0,22.0,422.0,210.0,550.0
1,200801097.jpg,800,600,3,6.0,177.0,112.0,409.0,600.0
2,200801099.jpg,320,240,3,5.0,209.0,170.0,320.0,238.0
3,20080110.jpg,320,240,3,4.0,164.0,140.0,291.0,223.0
4,20080124.jpg,800,600,3,8.0,438.0,1.0,800.0,423.0