In [1]:
import json
import csv
import glob

In [2]:
#get file name
all_file = glob.glob("out/*.json")

In [3]:
#construct attribute row
csvfile = []
attribute = ['image_filename', 'label_id', 'x','y','w','h','confidence']
csvfile.append(attribute)

In [ ]:
with open('out/20090630.json') as json_file:  
        file_parsed = json.loads(json_file.read())
        if len(file_parsed) is 0 :
            print("null")
        else:
            for obj in file_parsed:
                print(obj['topleft']['y'])

In [4]:
def get_label_id(label):
    ids = {
        "aquarium":1, "bottle":2, "bowl":3, "box":4, "bucket":5,
        "plastic_bag":6, "plate":7, "styrofoam":8, "tire":9,
        "toilet":10, "tub":11, "washing_machine":12, "water_tower":13
    }
    return ids.get(label, None)

In [5]:
i = 0
for file in all_file:
    tmpfilename = file.split('/');
    filename = tmpfilename[1].split('.')[0]+".jpg"#'image_filename'
    with open(file) as json_file:
        i = i +1
        file_parsed = json.loads(json_file.read())
        if len(file_parsed) is 0 :
            continue
        else:
            for obj in file_parsed:
                tmpobj = []
                label_id = get_label_id(obj['label'])
                x = obj['topleft']['x']
                y = obj['topleft']['y']
                w = obj['bottomright']['x'] - obj['topleft']['x']
                h = obj['bottomright']['y'] - obj['topleft']['y']
                confidence = obj['confidence']
                tmpobj.append(filename)
                tmpobj.append(label_id)
                tmpobj.append(x)
                tmpobj.append(y)
                tmpobj.append(w)
                tmpobj.append(h)
                tmpobj.append(confidence)
                csvfile.append(tmpobj)
                
print(i)

2248

In [6]:
Resident_data = open('submission.csv','w')
with Resident_data:
    csvwriter = csv.writer(Resident_data)
    csvwriter.writerows(csvfile)

In [8]:
import pandas as pd

train_data = pd.read_csv('submission.csv',sep = ',')
train_data.shape

(2132, 7)

In [10]:
# checking the head of the data

train_data.head()

  image_filename  label_id    x    y    w    h  confidence
0  200801213.jpg         5  450  319  154  230        0.93
1  200801221.jpg        13   25  112  112  101        0.67
2   20080123.jpg         5  265  181  246  288        0.85
3  200801241.jpg         5   20    3  154  236        0.95
4  200801241.jpg         5  131   58  139  164        0.89

In [11]:
#checking the NA values
train_data.isna().sum()

image_filename    0
label_id          0
x                 0
y                 0
w                 0
h                 0
confidence        0
dtype: int64

In [12]:
#checking the Null values in the dataset
train_data.isnull().sum()

image_filename    0
label_id          0
x                 0
y                 0
w                 0
h                 0
confidence        0
dtype: int64